body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------- Sign Up Form Component CSS ----------------*/
.signUpCard {
  margin: 0 auto;
  margin-top: 200px;
}


/* -------------- Sign Up Form Component CSS ----------------*/
.LoginCard {
  margin:  auto;
  margin-top: 200px;
}

/* -------------- Create Event Form Component CSS ----------------*/
.createEventCard {
  margin:  auto;
  margin-top: 200px;
  padding: 50px;
}